---
layout: default
---

{% for post in paginator.posts %}
  <div class="postbox">
    <div class="posttitlerow">
      <a href="{{ post.url }}" class="posttitle">{{ post.title }}</a>
      <div class="postdate">{{ post.date | date: "%d/%m/%Y" }}</div>
    </div>
    <div class="postdesc">{{ post.description }}</div>
  </div>
{% endfor %}

<div class="pagination">
  <span>
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}">&larr;</a>
    {% endif %}
  </span>
  <span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">&rarr;</a>
    {% endif %}
  </span>
</div>
